/* Universal variables (for easy theme editing) */
:root {
  --background-color: #ffffff;
  --button-color: #ee6dd5;
  --text-color: #000000;
  --shadow-color: #eb59c199;
}

/* Container layout */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* Main content area */
.main-content {
  flex: 1;
  padding: 2rem;
  background-color: var(--background-color);
  overflow-y: auto;
}

/* Page section styling */
.page {
  flex: 1;
  padding: 2rem;
}

/* Responsive grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

/* Button styling */
.button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button:hover {
  background-color: #d85bc2;
}

/* Headings */
h1 {
  text-align: left;
  margin-bottom: 0;
  color: var(--text-color);
  padding: 10px;
}

h2 { /* using this on login page might need to change later */
  text-align: center;
  margin-bottom: 2rem;
  color: #d85bc2;
}

h3 {
  color: var(--text-color);
  font-weight: normal;
  text-align: left;
  margin-top: 0;
}

/* Card component */
.card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: center;
  max-width: 90%;

  flex-direction: column;
}
