/* Universal variables  */
:root {
  --background-color: #ffffff;
  --button-color: #a7d0fb;
  --text-color: #000000;
  --shadow-color: #42434d;
  --card-color: #fff;
  --font-size: 1; 
}

/* Container layout */
.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

/* Main content area */
.main-content {
  flex: 1;
  padding: 2rem;
  background-color: var(--background-color);
  overflow-y: auto;
}

/* Page section styling */
.page {
  flex: 1;
  padding: 2rem;
}

/* Responsive grid */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

/* Button styling */
.button {
  padding: 0.5rem;
  font-size: 1rem;
  background-color: var(--button-color);
  color: var(--text-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: calc(1.05rem * var(--font-scale));
}

/* Headings */
h1 {
  text-align: left;
  margin-top: .5rem;
  margin-bottom: 0;
  color: var(--text-color);
  padding: 10px;
  transition: width 0.3s ease;
  font-size: calc(2rem * var(--font-size)); 
}

h2 { /* using this on login page might need to change later */
  text-align: center;
  margin-bottom: 2rem;
  color: var(--text-color);
  transition: width 0.3s ease;
  font-size: calc(1.6rem * var(--font-size)); 
}

h3 {
  color: var(--text-color);
  font-weight: normal;
  text-align: left;
  margin-top: 0;
  transition: width 0.3s ease;
  font-size: calc(1.3rem * var(--font-size)); 
}

p {
  transition: width 0.3s ease;
  font-size: calc(1.05rem * var(--font-size)); 
}

/* Card component */
.card {
  background-color: var(--card-color, #fff);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--shadow-color);
  text-align: center;
  max-width: 90%;
  flex-direction: column;
}

/* sidebar collapse button */
.toggleButtonStyle {
  position: absolute;
  top: 10px;
  left: 0px;
  width: 30px;
  height: 30px;
  background-color: var(--button-color, #a7d0fb);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
};
/*  margin-bottom: 1rem;
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: var(--text-color);
  align-self: flex-start;*/
